:root {
  --vh: 1vh;
}
html {
  height: 100%;
  overflow: hidden;
}
body{
    height: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
html, body {
  margin: 0;
  height: 100%;
}
* {
  box-sizing: border-box;
}
.bg-engine {
  position: fixed;
  inset: 0;
  z-index: -1;
  transform: translateZ(0);
  will-change: transform;
}

.bg-slide {
  position: absolute;
  inset: 0;
  contain: layout paint;
  transform: translateZ(0);
}

.bg-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;

  opacity: 0;

  transform: translate3d(0,0,0);
  backface-visibility: hidden;

  will-change: transform, opacity;
}

.bg-slide:first-child img {
  opacity: 1;
}













.hdr {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  padding: 20px;

  display: flex;
  justify-content: space-between;

  color: rgb(184, 184, 114);
  box-sizing: border-box;
}

















.content {
  position: relative;
  z-index: 2;
  
}

.block {
   min-height: 100vh;
  min-height: calc(var(--vh, 1vh) * 100);

  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 0 10vw;

 color: rgb(187, 187, 132);
}

.order{
  width: 60vw;
  height: 100px;
  background-color: rgb(228, 214, 214);
  display: flex;
  justify-content: space-between;
  padding: 10px;
  color: rgb(48, 43, 27);
  opacity: 0.8;
  border-radius: 5px;
}
.order__section{

}
.order__section a{
  color: rgb(97, 96, 49);
}