html, body {
  margin: 0;
  height: 100%;
}

.bg-engine {
  position: fixed;
  top: -10vh;
  left: 0;
  width: 100%;
  height: 120vh; 

  z-index: -1;
  overflow: hidden;
}
.bg-slide {
  position: absolute;
  inset: 0;
  will-change: transform;
}

.bg-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;

  transform: translateZ(0);
  will-change: transform, opacity;
  backface-visibility: hidden;
}













.hdr {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  padding: 20px;

  display: flex;
  justify-content: space-between;

  color: rgb(184, 184, 114);
  box-sizing: border-box;
}

.header__menu-icon-container {
  position: relative;
  width: 32px;
  height: 32px;
  cursor: pointer;

  transform-style: preserve-3d;
  perspective: 600px;
}

.icon-face {
  position: absolute;
  inset: 0;

  background-color: rgb(184, 184, 114);

  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;

  -webkit-mask-position: center;
  mask-position: center;

  -webkit-mask-size: contain;
  mask-size: contain;

  backface-visibility: hidden;

  transition: transform 0.6s ease;
}

.front {
  -webkit-mask-image: url("/menu.png");
  mask-image: url("/menu.png");

  transform: rotateY(0deg);
}

.back {
  -webkit-mask-image: url("/close.png");
  mask-image: url("/close.png");

  transform: rotateY(180deg);
}

.header__menu-icon-container.active .front {
  transform: rotateY(180deg);
}

.header__menu-icon-container.active .back {
  transform: rotateY(360deg);
}

.header__menu-body{
  position: fixed;
  background-color: rgb(20, 31, 12);
  width: 100vw;
  height: 100vh;
  left: 0;
  top:0;
  opacity: 0;
   pointer-events: none;
    transition: opacity 0.3s ease;
}
.header__menu-body_active{
  position: fixed;
  background-color: rgb(20, 31, 12);
  opacity: 0.98;
  width: 100vw;
  height: 100vh;
  z-index: -10;
  left: 0;
  top:0;
   transition: opacity 0.3s ease;
}















.content {
  position: relative;
  z-index: 2;
  
}

.block {
   min-height: 100vh;
  min-height: calc(var(--vh, 1vh) * 100);

  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 0 10vw;

 color: rgb(187, 187, 132);
}

.order{
  width: 60vw;
  height: 100px;
  background-color: rgb(228, 214, 214);
  display: flex;
  justify-content: space-between;
  padding: 10px;
  color: rgb(48, 43, 27);
  opacity: 0.8;
  border-radius: 5px;
}
.order__section{

}
.order__section a{
  color: rgb(97, 96, 49);
}


